body {
	margin: 0px;
	padding: 0px;
}

.canvas {
	.position: absolute;
	top: 0px;
	left: 0px;
}

.cell {
	position: relative;
	border: 1px solid transparent;
	float: left;
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: black;
}

.cell:hover {
	background: white;
}

.a {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.legend {
	font-family: monospace;
}

.y-axis {
	display: inline-block;
	margin-top: 10px;
	position: absolute;
	writing-mode:tb-rl;
	left: -10px;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
}

.hidden {display: none;}

.y-axis-top {
	display: inline-block;
	margin-top: 10px;
	position: absolute;
	left: 25px;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
}

.graph-square { opacity: 1; background: yellow; }

#container {
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	display:inline-block;
	border-bottom: 2px solid green;
	border-left: 2px solid green;
}

.clear {
	clear: both;
}